P{
    font-family:aria;
    margin-top: 0px;
    margin-bottom: 0px;    
}
.email{
    color: rgb(100,100,100);
    font-size:12px;
    margin-bottom: 5px;
}
.box{
    width: 400px;
    border-style: solid;
    border-color: rgb(100,100,100);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-width: 2px;
}
.policy{
    color: rgb(100,100,100);
    font-size: 16px;
    margin-bottom: 20px;
}
.agree_btn{
    background-color: rgb(24, 114, 150);
    color:white;
    padding-top: 16px;
    padding-bottom: 16px;
    border:none;
    width: 400px;
    border-radius:20px;
    font-size:18px;
    
}